<div class="w-full bg-neutral-magnolia flex items-center justify-center">
  <div
    class="w-full rounded-2xl overflow-hidden bg-white shadow-lg flex flex-col"
  >
    <!-- Removed md:flex-row -->
    <!-- Full-width Stepper Header -->
    <div
      class="w-full bg-primary-purplish-blue md:py-6 md:px-10 bg-no-repeat bg-cover flex-shrink-0"
    >
      <app-stepper [currentStep]="currentStep" [totalSteps]="4"></app-stepper>
    </div>

    <!-- Main Form Area -->
    <div class="md:w-2/3 lg:w-full py-2 px-2 md:px-10 md:py-10">
      <div>
        <!-- Step 1: Personal Info -->
        <div
          *ngIf="currentStep === 1"
          class="w-full relative animate-fade-in border-2 border-gray-200 rounded-lg p-6 pt-8 mt-4"
        >
        <app-etat-civil-form></app-etat-civil-form>
        </div>

        <!-- Step 2: Select Plan -->
        <div *ngIf="currentStep === 2" class="animate-fade-in">
          <h1 class="text-2xl md:text-3xl font-bold text-primary-marine mb-2">
            Select your plan
          </h1>
          <div
            class="flex space-x-4 py-4 px-4 border-2 border-gray-200 rounded-lg mt-2"
          >
            <div class="space-y-2 container">
              <!-- Nationalite && dateNaissance &&  Lieu de naissance -->
              <div class="flex gap-4">
                <!-- Sexe 2 -->
                <div class="flex-1">
                  <div class="flex justify-between">
                    <label
                      for="sexe2"
                      class="text-sm text-primary-marine font-medium mb-1 block"
                      >Sexe</label
                    >
                  </div>
                  <select
                    id="sexe2"
                    formControlName="sexe2"
                    class="w-full px-4 py-3 rounded-lg border border-neutral-light-gray focus:border-primary-purplish-blue focus:outline-none transition-colors appearance-none bg-[url('data:image/svg+xml;base64,...')] bg-no-repeat bg-[center_right_1rem]"
                  >
                    <option value="" disabled selected>Choisir le sexe</option>
                    <option value="homme">Homme</option>
                    <option value="femme">Femme</option>
                  </select>
                </div>
                <!-- Nationalite -->
                <div class="flex-1">
                  <div class="flex justify-between">
                    <label
                      for="nationalite2"
                      class="text-sm text-primary-marine font-medium mb-1 block"
                    >
                      Nationalité
                    </label>
                  </div>
                  <input
                    id="nationalite2"
                    type="text"
                    formControlName="nationalite2"
                    placeholder="Ex: Marocaine"
                    class="w-full px-4 py-3 rounded-lg border border-neutral-light-gray focus:border-primary-purplish-blue focus:outline-none transition-colors"
                  />
                </div>

                <!-- Activite Nom -->
                <div class="flex-1">
                  <div class="flex justify-between">
                    <label
                      for="nom2"
                      class="text-sm text-primary-marine font-medium mb-1 block"
                      >Nom</label
                    >
                  </div>
                  <input
                    type="text"
                    id="nom2"
                    formControlName="nom2"
                    placeholder="ex. Amina"
                    class="w-full px-4 py-3 rounded-lg border border-neutral-light-gray focus:border-primary-purplish-blue focus:outline-none transition-colors"
                  />
                </div>
              </div>

              <!-- Nom && Date de naissance -->
              <div class="w-fit lg:w-[70%] inline-flex gap-4 flex-wrap">
                <!-- Champ Nom -->
                <div class="flex-1">
                  <div class="flex justify-between">
                    <label
                      for="nom2"
                      class="text-sm text-primary-marine font-medium mb-1 block"
                      >Nom</label
                    >
                  </div>
                  <input
                    type="text"
                    id="nom2"
                    formControlName="nom2"
                    placeholder="ex. Amina"
                    class="w-full px-4 py-3 rounded-lg border border-neutral-light-gray focus:border-primary-purplish-blue focus:outline-none transition-colors"
                  />
                </div>
                <!-- Date de naissance -->
                <div class="flex-1">
                  <div class="flex justify-between">
                    <label
                      for="dateNaissance"
                      class="text-sm text-primary-marine font-medium mb-1 block"
                    >
                      Date de naissance
                    </label>
                  </div>
                  <input
                    id="dateNaissance2"
                    type="date"
                    formControlName="dateNaissance2"
                    class="w-full px-4 py-3 rounded-lg border border-neutral-light-gray focus:border-primary-purplish-blue focus:outline-none transition-colors"
                  />
                </div>
              </div>

              <!-- Prénom && lieu de naissance -->
              <div class="flex gap-4">
                <!-- Champ Prénom -->
                <div class="flex-1">
                  <div class="flex justify-between">
                    <label
                      for="prenom"
                      class="text-sm text-primary-marine font-medium mb-1 block"
                      >Prénom</label
                    >
                    <span
                      *ngIf="formErrors.prenom"
                      class="text-primary-strawberry-red text-sm"
                      >{{ formErrors.prenom }}</span
                    >
                  </div>
                  <input
                    type="text"
                    id="prenom"
                    formControlName="prenom"
                    placeholder="ex. Alawi"
                    class="w-full px-4 py-3 rounded-lg border border-neutral-light-gray focus:border-primary-purplish-blue focus:outline-none transition-colors"
                    [ngClass]="{
                      'border-primary-strawberry-red': formErrors.prenom,
                    }"
                  />
                </div>
                <!-- lieu Naissance -->
                <div class="flex-1">
                  <div class="flex justify-between">
                    <label
                      for="lieuNaissance2"
                      class="text-sm text-primary-marine font-medium mb-1 block"
                    >
                      Lieu de naissance
                    </label>
                  </div>
                  <input
                    id="lieuNaissance2"
                    type="text"
                    formControlName="lieuNaissance2"
                    placeholder="Ex: Casablanca"
                    class="w-full px-4 py-3 rounded-lg border border-neutral-light-gray focus:border-primary-purplish-blue focus:outline-none transition-colors"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Step 3: contrat-form -->
        <div *ngIf="currentStep === 3" class="animate-fade-in">
          <h1 class="text-2xl md:text-3xl font-bold text-primary-marine mb-2">
            Pick add-ons
          </h1>
          <p class="text-neutral-cool-gray mb-6">
            Add-ons help enhance your gaming experience.
          </p>

          <app-contrat-form></app-contrat-form>
        </div>

        <!-- Step 4: organizations socails -->
        <div *ngIf="currentStep === 4 && !completed" class="animate-fade-in">
          <app-organizations-socails-form></app-organizations-socails-form>
        </div>
        <!-- Step 5: payment bank -->
        <div *ngIf="currentStep === 5 && !completed" class="animate-fade-in">
          <app-bank-payment-form></app-bank-payment-form>
        </div>
        <!-- Step 6: payment bank -->
        <div *ngIf="currentStep === 6 && !completed" class="animate-fade-in">
          <app-bulletin-model></app-bulletin-model>
        </div>
        <!-- Step 7: payment bank -->
        <div *ngIf="currentStep === 7 && !completed" class="animate-fade-in">
          <app-conge-form></app-conge-form>
        </div>

        <!-- Thank You Screen -->
        <div *ngIf="completed" class="animate-fade-in text-center py-6">
          <div
            class="mx-auto w-16 h-16 bg-primary-purplish-blue bg-opacity-10 rounded-full flex items-center justify-center mb-6"
          >
            <svg
              class="w-8 h-8 text-primary-purplish-blue"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                fill-rule="evenodd"
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"
              />
            </svg>
          </div>
          <h1 class="text-2xl md:text-3xl font-bold text-primary-marine mb-4">
            Thank you!
          </h1>
          <p class="text-neutral-cool-gray max-w-md mx-auto">
            Thanks for confirming your subscription! We hope you have fun using
            our platform. If you ever need support, please feel free to email us
            at supportloremgaming.com.
          </p>
        </div>

        <!-- Navigation Buttons -->
        <div *ngIf="!completed" class="mt-auto pt-10 flex justify-between">
          <button
            [disabled]="currentStep === 1"
            (click)="currentStep > 1 && (currentStep = currentStep - 1)"
            class="px-4 py-2 bg-white border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 disabled:opacity-50 disabled:cursor-not-allowed transition-all duration-300"
          >
          Précédent
          </button>

          <button
            [disabled]="currentStep === 9"
            (click)="currentStep < 9 && (currentStep = currentStep + 1)"
            class="px-4 py-2 bg-blue-600 border border-transparent rounded-md shadow-sm text-sm font-medium text-white hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 disabled:opacity-50 disabled:cursor-not-allowed transition-all duration-300"
          >
            <!-- [ngClass]="{
             [disabled]="form.invalid"
              'opacity-60 cursor-not-allowed bg-gradient-to-r from-blue-400 to-blue-500 hover:shadow-none hover:transform-none':
                form.invalid,
            }" -->
            <span>Suivant</span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                fill-rule="evenodd"
                d="M10.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L12.586 11H5a1 1 0 110-2h7.586l-2.293-2.293a1 1 0 010-1.414z"
                clip-rule="evenodd"
              />
            </svg>
          </button>

          <button
            *ngIf="currentStep === 4"
            type="submit"
            class="ml-auto bg-primary-purplish-blue text-white px-5 py-2.5 rounded-lg hover:bg-opacity-90 transition-colors"
          >
            Confirm
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
